:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* Top Header */
.Top__header {
  color: white;
  background-color: #0d369f;
  padding: 14px 15px;

}

.Top__header .container__TopHeader .top-headers .fa {
  margin-right: 10px;
}

.container__TopHeader {
  padding: 0 15px;
}

.Top__header .top-headers li a,
.Top__header .top-headers li {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.Top__header .top-headers li a:hover {
  text-decoration: none;
  color: #ff6e65;
  transition: all .5s;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  color: white;
}

.Top__header .top-headers li {
  display: inline-block;
  margin-right: 2em;
}

.Top__header .top-headers-2 li {
  cursor: pointer;
}

.Top__header .top-headers-2 li:hover {
  color: #ff6e65;
}

/* Header */
.container-fluid {
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  /* position: fixed; */
  /* z-index: 10; */
}

.navbar .navbar-expand {
  padding: 0;
}

.container-fluid .navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #0d369f;
  font-weight: 600;
}

.container-fluid .navbar .navbar-brand:hover {
  color: #ff6e65;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  color: black;
}

.navbar-expand .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}

.navbar-expand .navbar-nav .nav-link {
  padding: 6px 0;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}


.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}

.navbar-nav .search-right .search-box {
  display: flex;
}

.nav ul li a {
  transition: all .5s;
}

body a,
button,
.btn {
  cursor: pointer !important;
}

.navbar form.search-box input {
  font-size: 15px;
  color: black;
  background: transparent;
  padding: 10px 35px 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}

.fa-search {
  color: #0d369f;
  cursor: pointer;
}

.fa-search:hover {
  color: #ff6e65;
}

/* .theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
} */

.navbar-expand .navbar-nav .nav-item.active .nav-link,
.navbar-expand .navbar-nav .nav-link:hover {
  color: #ff6e65;
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 0px 0;
  margin-left: 10px;
  color: #0d369f;
}

.mode-container i.fa-sun {
  display: none;
}

.mode-container i {
  font-size: 15px;
}

.fa-sun,
.fa-sun:after,
.fa-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.fa-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.mode-container i.fa-moon {
  display: block;
  cursor: pointer;
}

.fa-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

container {
  max-width: 1200px !important;
}

body a {
  cursor: pointer;
}

/* CSS Carousel */

.carousel-item {
  position: relative;
  height: 90vh;
  vertical-align: middle;
}

.carousel-item .img1 {
  height: 100%;
  background-image: url(./image/banner2.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item .img2 {
  height: 100%;
  background-image: url(./image/banner3.jpg);
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
}

.carousel-caption h5 {
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
  color: white;
  width: 600px;
  height: 240px;
  text-align: left;
}

#carousel-content .carousel-indicators li {
  width: 11.99px;
  height: 11.99px;
  border-radius: 50%;
  top: 20%;
  right: 20%;
}

.carousel-caption {
  position: absolute;
  right: 15%;

  top: 15%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-caption a {
  text-decoration: none;
  width: fit-content;
  padding: 14px 30px;
  font-weight: 600;
  font-size: 16px;
  color: #060606;
  border-radius: 4px;
  background: #fff;
  border: none;
  margin: 48px 0 0;
  display: flex;
  justify-content: left;
}

.carousel-item .carousel-caption .btn i {
  color: black;
  font-weight: bold;
  margin: 4px 0 0 7px;
}

.carousel-list {
  display: flex;
  justify-content: flex-end;
}

.carousel-list .carousel-indicators {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1px 6px;
  margin: 40px 15px;
}

.carousel-indicators .active {
  background-color: red;
}

.carousel-indicators li {
  background-color: #fff;
  opacity: 1;
}

.carousel-indicators li:hover {
  background-color: red;
}


/* End CSS Carousel */


.carousel__feature {
  position: relative;
}

/* feature */
#services {
  position: absolute;
  top: 478px;
}

.w3l-bottom-grids-6 {
  position: relative;
  /* margin-top: -4em; */
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.w3l-bottom-grids-6 .area-box.color-1 {
  background-color: #037ef3;
}

.w3l-bottom-grids-6 .area-box {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: white;
}

.w3l-bottom-grids-6 h4 .title-head {
  margin-top: 25px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.w3l-bottom-grids-6 h4 .title-head:hover {
  color: black;
  text-decoration: none;
  transition: .5s all;
}

.w3l-bottom-grids-6 .area-box.color-2 {
  background-color: #ffc949;
}

.w3l-bottom-grids-6 .area-box.color-3 {
  background-color: #ff4f81;
}

.w3l-bottom-grids-6 .area-box.color-4 {
  background-color: #1ee697;
}

.w3l-bottom-grids-6 .area-box i {
  font-size: 45px;
  color: #fff;
}

.container .row {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
}

/* CSS Section */

.section__feature {
  text-align: center;
  margin: 70px 0 20px;

}

.section__feature .title-main {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
  text-align: center;
}


.title-header {
  max-width: 700px;
  text-align: center;
  color: #060606;
  display: block;
}

.feature__main .py-5 {
  padding: 48px 0;
}

.section__feature .feature__core {
  margin: 0 auto;
  padding: 48px 15px;
}

.feature__main .mx-auto {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;

}

.section__feature .title-main span {
  color: #ff6e65;
}

h3.title-main:before {
  left: -20px;
  bottom: -8px;
}

h3.title-main:after {
  left: 20px;
  bottom: -15px;
}

h3.title-main:before,
h3.title-main:after {
  content: '';
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
}

.feature__items {
  padding: 0 15px;
  text-align: center;
  justify-content: center;
}

.col-3 .col-4 {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.col-3 {
  flex: 0 0 25%;
  text-align: center;
}

.section__content {
  margin-top: 1.5rem;
}

.section__title {
  color: #060606;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.section__title:hover {
  color: #ff6e65
}

.section__text {
  margin: 15px 0 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: .4px;
}

.section__icon i {
  color: #0d369f;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  background: #0d369f17;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

/* End css section */


/* homepage cover service */
.w3l-homeblock1 .w3-services-ab {
  background-image: url(./image/bg3.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100%;
}

.py-5 {
  padding-top: 1rem !important;
}

.col-xl-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* .w3l-homeblock1 .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: flex-end;
} */

.col-md-6 {
  max-width: 50%;
}

.pt-md-2,
.py-md-2 {
  padding-top: 0.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.w3l-homeblock1 .feature-gd {
  background: white;
  padding: 30px;
  border-radius: 8px;
}

.w3l-homeblock1 .icon i {
  color: #0d369f;
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 66px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
}

.w3l-homeblock1 .row h5 {
  font-size: 20px;
  line-height: 30px;
  color: black;
  font-weight: 600;
  margin-bottom: 6px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  letter-spacing: .4px;
}

.row .mt-5 {
  margin-top: 0 !important;
}

/* css homepage stats number */


.feature__items {
  padding: 0 15px;
  text-align: center;
  justify-content: center;
  margin-top: 3rem 0;
}

.col-3 {
  position: relative;
  width: 100%;
  padding: 0 15px;
}


.stats__text {
  padding-top: 0.5rem;
  margin: 1.5rem;
  line-height: 28px;
  color: #707070;
  letter-spacing: .4px;
}

.section__title {
  color: #060606;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.counter {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}

p .stats__content {
  color: #060606;
}

.stats__row .col-3 {
  border-right: 1px solid lightgray;
}

/* end css homepage stats numbers */

/* HomePage Testimonials */
.py-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.py-md-5 {
  padding-bottom: 3rem !important;
}

.title-heading-w3 {
  max-width: 700px;
}

.text-center {
  text-align: center !important;
}

.py-lg-5 {
  padding-bottom: 3rem !important;
}

.mx-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin-right: auto !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

h3.title-main {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}

h3.title-main:before {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}

h3.title-main:after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}

h3.title-main span {
  color: #ff6e65;
}

.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-lg-4 .col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.w3l-cutomer-main-cont .testimonials_grid {
  background: white;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4, 20, 69, 0.1);
  padding: 3rem;
}

.testimonials_grid span.fa {
  font-size: 26px;
  color: #ff6e65;
}

.sub-test {
  font-size: 16px;
  line-height: 28px;
  color: gray;
  letter-spacing: .4px;
}

.w3l-cutomer-main-cont .sub-author-con {
  grid-template-columns: .3fr 1fr;
  align-items: center;
  grid-gap: 5px;
  margin-top: 1.5em;
}

.d-grid {
  display: grid;
}

.w3l-cutomer-main-cont .testi-img-res img {
  border-radius: 50%;
}

.mt-md-0 {
  margin-top: 0 !important;
}

.mt-lg-0 {
  margin-top: 0 !important;
}

/* css homepage cover team */


h4 a {
  font-weight: 600;
  color: #060606;
  margin-bottom: 0.25rem;
  text-decoration: none;
}

h4 a:hover {
  color: #ff6e65;
  text-decoration: none;
}

.cover__item {
  box-shadow: 0 20px 62px rgb(4, 20, 69, 0.1);
}

.col-3 .cover__item p {
  font-size: 12.8px;
  font-weight: 400;
  margin-bottom: 0;
  color: #707070;
}

figcaption {
  padding: 24px;
}

figure {
  margin: 0;
  padding: 0;
}

.image {
  overflow: hidden;
  position: relative;

}

.cover__image img {
  width: 90%;

}

.cover__social__icon {
  display: inline-block;
  position: relative;
}

.cover__social__icon a {
  text-decoration: none;
}

.cover__social__icon i .fab {
  color: #0d369f;
  font-size: 14px;
  line-height: 28px;
  outline: none;
}

.cover__social__icon {
  background-color: #fff;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;

}

.cover__social {
  width: 100% !important;
  position: absolute;
  bottom: -277px;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  transition: all 0.5s;
  width: 70%;
  text-align: center;
  overflow: hidden;

}

.cover__item:hover .cover__social {
  animation: upTo 2s normal;
}


/* end css homepage cover team */


/* homepage content (contact us) */
.pb-5 {
  padding-bottom: 3rem !important;
}

h3.title-style {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}

.col-lg-7 .mt-4 .btn-style-secondary {
  background: #ff6e65;
  color: #fff;
}

.col-lg-7 .mt-4 .btn-style-secondary :hover {
  background: #0d369f !important;
  color: #fff;
}

.btn-style {
  padding: 14px 30px;
}

/* button */
#movetop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #0d369f;
  padding: 0;
}

/* Footer  */
footer {
  position: relative;
}

footer .footer_top {
  padding: 80px 0;
  background-color: #060e1f;

}

.footer_form {
  padding: 50px;
  max-width: 1000px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.form_left,
.form_right {
  width: 50%;
}

.form_left h4 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  color: #060606;
}

.form_left p {
  font-size: 15px;
  letter-spacing: 1px;
  color: #707070;
  margin-bottom: 0;
}

.form_right button {
  background-color: #0d369f;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

.form_right input {
  background: transparent;
  font-size: 16px;
  color: #060606;
  width: 100%;
  border-radius: 8px 0 0 8px;
  border: 1px solid #eee;
}

.footer_text {
  margin-top: 120px;
}

.footer_text ul {
  margin: 0;
  padding: 0;
  list-style: disc;
}

.footer_text li {
  list-style: none;
}

.footer_text a {
  text-decoration: none;
  color: #cecece;
}

.footer_text h4 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.footer_text ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
  position: relative;
  padding-left: 20px;

}

.footer_text ul li a::before {
  display: inline-block;
  font-family: 'FontAwesome';
  content: "\f101";
  position: absolute;
  left: 0px;
  font-size: 13px;
  color: #fff;
  box-sizing: inherit;
}

.footer_text .contact span {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  text-align: center;
}

.footer_text .contact .contact_tel {
  margin: 10px 0;
  padding: 10px 0;
}

.footer_text .contact a {
  text-decoration: none;
  color: #cecece;
  line-height: 25px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

.footer_text .about {
  padding-left: 3rem !important;
  border-left: 1px solid rgb(64 73 82 / 51%);
}

.footer_text .about p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}

.footer_text .about .icon {
  margin-top: 1.2em;
}

.footer_text .about .icon a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.footer_bottom {
  background: #040a17;
  padding: 20px 0;
}

.footer_bottom p {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
}

.footer_bottom p a {
  text-decoration: none;
  color: #fff;
}






@keyframes upTo {
  to {
    transform: translateY(-277px);

  }

  from {
    transform: translateY(30px);
    opacity: 1;

  }

}


/* Light theme */
#myBody {
  background-color: white;
}

#switchButton {
  background-color: white;
  border: none;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: black;
}

.dark #switchButton {
  background-color: black;
  border: 1px solid white;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .card {
  background-color: black;
  color: white;
  border: 1px solid white;
}



/* responsive carousel */

@media screen and (max-width:1200px) {
  .carousel-item .carousel-caption h5 {
    font-size: 57px;
    line-height: 67px;
  }
}


@media screen and (max-width:992px) {
  .carousel-item .carousel-caption h5 {
    font-size: 50px;
    line-height: 60px;
  }
}


@media screen and (max-width:768px) {
  .carousel-item .carousel-caption h5 {
    font-size: 45px;
    line-height: 55px;
  }
}


@media screen and (min-width:768px) {
  .stats_text {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width:991px) {
  .stats_number {
    font-size: 35px;
  }
}

@media screen and (max-width:991px) {
  .stats_number {
    font-size: 15px;
  }
}

@media screen and (max-width:768px) {
  button {
    width: 20%;
  }
}